<ion-menu side="right" [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>Search</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-item>
				<ion-label floating>Search by name</ion-label>
				<ion-input type="text" [(ngModel)]="searchParam"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>List type</ion-label>
				<ion-select [(ngModel)]="list" multiple="false">
					<div *ngFor="let l of listArray">
						<ion-option value="{{ l.value }}" selected="true">{{ l.name }}</ion-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Categories</ion-label>
				<ion-select [(ngModel)]="category" multiple="false">
					<div *ngFor="let c of categories">
						<ion-option value="{{ c.id }}" selected="true">{{ c.localizedTitle }}</ion-option>
					</div>
				</ion-select>
			</ion-item>
		</ion-list>
		<button ion-button block menuToggle (click)="getBots()">Search</button>
	</ion-content>
</ion-menu>

<ion-header>
	<ion-navbar>
		<ion-buttons right>
			<button ion-button menuToggle icon-only>
        		<ion-icon name="search"></ion-icon>
      		</button>
		</ion-buttons>
		<ion-title>
			Bots for Telegram
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content #content class="card-background-page">
	<div *ngFor="let bot of bots">
		<ion-card>
			<img ion-avatar src="{{ getImageFromLinkTemplate(bot.photo) }}" (click)="viewDetails(bot)" />
			<ion-card-content>
				<ion-card-title (click)="viewDetails(bot)">
					{{ bot.name }}
				</ion-card-title>
				<p>
					Rating:
					<ion-icon name='star' *ngIf="bot.rating > 0 "></ion-icon>
					<ion-icon name='star' *ngIf="bot.rating > 1 "></ion-icon>
					<ion-icon name='star' *ngIf="bot.rating > 2 "></ion-icon>
					<ion-icon name='star' *ngIf="bot.rating > 3 "></ion-icon>
					<ion-icon name='star' *ngIf="bot.rating > 4 "></ion-icon>
				</p>
				<ion-badge class="badge" item-right>{{ bot.categoryId }}</ion-badge>
				<p class="item item-text-wrap">
					{{ bot.shortDesc }}
				</p>
			</ion-card-content>

			<ion-row no-padding>
				<ion-col></ion-col>
				<ion-col></ion-col>
				<ion-col></ion-col>
				<ion-col>
					<button ion-button clear small color="primary" icon-left (click)="viewDetails(bot)">
          				<ion-icon name="eye"></ion-icon>
          				More
        			</button>
				</ion-col>
				<ion-col>
					<a href="http://telegram.me/{{ bot.link }}" ion-button clear small color="primary" icon-left>
						<ion-icon name='ios-paper-plane'></ion-icon>
						Add to Telegram
					</a>
				</ion-col>
			</ion-row>

		</ion-card>
	</div>

	<div class="message" *ngIf="failure">
		<h4>Connection failed</h4>
		<p>Please, verify your internet connection and try again</p>
		<button ion-button (click)="getBots()">Try again</button>
	</div>

	<div class="message" *ngIf="noBots">
		<h4>0 results</h4>
		<p>Please, verify your search parameters and try again</p>
	</div>

</ion-content>